jenkins:
  systemMessage: "Jenkins configured as code!"
  numExecutors: 2
  mode: NORMAL
  scmCheckoutRetryCount: 2

  tools:
    git:
      installations:
        - name: "Default"
          home: "/usr/bin/git"

  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "admin"

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

jobs:
  - script: >
      pipelineJob('Nodejs-CI-CD') {
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('${github_url}')
                }
                branches('${github_branch}')
              }
            }
            scriptPath('Jenkinsfile')
          }
        }
      }